---
layout: default
title: home
sidebar: false
--- 

<div class="row">
  <div>
  {% if page.sidebar == "true" %}
    <article class="columns small-12 large-9 comic-page">
  {% else %}
    <article class="columns small-12 large-offset-1 large-10 comic-page">
  {% endif %}
      
	{% for post in site.posts limit:1 %}
	
	  {{ post.content }}
	  
	{% endfor %}
      <center>
      <nav class="comic-nav">
	<nav class="previous-comic">
	  {% for post in site.posts limit:1 offset:1 %}
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-small"><img src="images/previous.png" atl="Previous" style="width:100px;height:80px;border:0"></a>
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-large"><img src="images/previous.png" atl="Previous" style="width:80px;height:64px;border:0"></a>
	    <!-- a href="{{ site.baseurl }}{{ post.url }}" class="icon-arrow-left hide-for-large"></a-->
	  {% endfor %}
	</nav>
      </nav>
      </center>
  </article>
  </div>
  {% if page.sidebar == "true" %}
    {% include asides/recent_posts.html %}
  {% endif %}
</div>
